.card
{
	margin: .5em;
}

.carousel
{
	margin-bottom: 5em;
}

.dropdown .dropdown-menu 
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu 
{
    max-height: 200px;
    opacity: 1;
}