.card
{
	margin: .5em;
}

.navbar
{
	margin-bottom: 5em;
}

.carousel .img-fluid 
{
  width:100%;
  max-height: 45em;
}

.carousel img
{
	width:100%;
}
.dropdown .dropdown-menu 
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu 
{
    max-height: 200px;
    opacity: 1;
}

.tab-content
{
	padding: 2em;
}

footer, .bg-dark
{
	background-color: #18121E !important;
}

footer p
{
	color: white;
}

footer a
{
	color: #984B43;
}

footer h1, h2, h3, h4, h5, h6, .yellow-text, .navbar-brand
{
	color: #EAC67A !important;
}